<p-toast />
<p-confirmDialog />

<div class="admin-page">
  <p-card header="Users" subheader="List of all users">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              label="New"
              icon="pi pi-plus"
              styleClass="p-button-success"
              routerLink="form"
            />
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-col-12">
      <p-table
        [value]="users"
        styleClass="p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" style="width: 20%">
              Name <p-sortIcon field="name" />
            </th>
            <th>Email</th>
            <th>Is Admin</th>
            <th pSortableColumn="country" style="width: 20%">
              Country <p-sortIcon field="country" />
            </th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.name }}</td>
            <td>
              {{ user.email }}
            </td>
            <td>
              <p-tag
                *ngIf="user.isAdmin"
                icon="pi pi-check"
                severity="success"
                [rounded]="true"
              />
              <p-tag
                *ngIf="!user.isAdmin"
                icon="pi pi-times"
                severity="danger"
                [rounded]="true"
              />

              <!-- {{ user.isAdmin ? 'Admin' : 'User' }} -->
            </td>
            <td>
              {{ getCountryName(user.country) }}
            </td>
            <td>
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-danger mr-2"
                (onClick)="deleteUser(user.id)"
              />
              <p-button
                icon="pi pi-pencil"
                styleClass="p-button-success"
                (onClick)="updateUser(user.id)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-card>
</div>
